@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>The Future of Communication</h1>
        </hgroup>
        <p>
            Imagine, just for a momment, social media distilled to the core elements of communcation.
            <br>
            <br>
            Well you came to the wrong place, Emojer.
        </p>
    </div>
</section>
}

<h3>Why You Should Join Emojer</h3>

<ol class="round">
    <li class="one">
        <h5>Your Friends Are Already On It</h5>
        As Emojer is the leading social netowork in growth, your friends are probably already on it!
    </li>

    <li class="two">
        <h5>Otherwise Be a Leader</h5>
        Otherwise be a leader not a follower!
    </li>

    <li class="three">
        <h5>LOL</h5>
        lolololol
    </li>
    
</ol>