@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Profile</h1>
        </hgroup>
    </div>
</section>
}

<ol class="round">
    <li class="one">
        <h5>Your Friends Are Already On It</h5>
        As Emojer 
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        sadfasdf
    </li>

    
</ol>